.login-container {
  margin-top: 10px;
  max-width: 350px;
  margin: 0 auto;
  width: 100% ;
  height: 575px;
  padding: 45px ;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #f8f7ec;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f7ec;
}

.login-title {
  font-size: 24px;
  margin-bottom: 2px;
  text-align: center;
}
.login-subtitle {
  font-size: 12.8px;
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #436850;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px; 
}

.apple-button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px; 
}
.facebook-button {
  width: 100%;
  padding: 10px;
  background-color: #4267B2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #ADBC9F;
}
.apple-button:hover {
  background-color: #5e5f5e;
}
.facebook-button:hover {
  background-color: #627cb1;
}

.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12.8px;
  margin-top: 20px;
}

.login-options span {
  margin-bottom: 10px;
}

.login-link {
  color: #2f79e0;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #000; /* You can change the color as needed */
  margin: 0 7px; /* Adjust the margin to control the gap between text and line */
}

.text-left,.text-right {
  font-size: 14px; /* Adjust the font size as needed */
  color: #000; /* You can change the color as needed */
}
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f7ec;
}

.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: auto;
  margin: 0 auto; /* Adjust the margin as needed */
  border-radius: 50%;
  margin-bottom: 10px;
}
